$(document).ready(function() {
    $('.chart').remove();
    var implicit_schema_chart_pane = 'implicit_schema_chart_pane';
    $('<div/>', {id: implicit_schema_chart_pane, class: 'chart'}).appendTo($("#buttons_pane"));

    var chart_params = <%= raw @chart_params.to_json %>;
    var impl_charts = chart_params.impl_charts
    var task_series = new Array();
    for (var i = 0; i < impl_charts.length; i++) {
        task_series[i] = {
            name: impl_charts[i].name,
            type: 'spline',
            tooltip: {
                valueDecimals: 2,
                headerFormat: '<span style="font-size: 10px"><b>X:</b> {point.key}</span><br/>'
            },
            marker: {
                enabled: false
            },
            pointStart: chart_params.start,
            pointInterval: impl_charts[i].step,
            shadow: true,
            data: impl_charts[i].values
        }
    }
    new Highcharts.Chart({
        chart: {
            renderTo: implicit_schema_chart_pane,
            zoomType: 'y'
        },
        title: {text: "=)"},
        xAxis: {
            title: {text: 'x'}
        },
        yAxis: {
            title: {text: 'u(x)'}
        },
        series: task_series
    });
});