<div id="buttons_pane">
    <%= button_to 'Show task 1', { action: 'calculate_task_1' },{ method: :get,  remote: true } %>
    <%= button_to 'Show task 2', { action: 'calculate_task_2' },{ method: :get,  remote: true } %>
    <%= button_to 'Show task 4', { action: 'calculate_task_4' },{ method: :get,  remote: true } %>
</div>